In [67]:
import pandas as pd

In [68]:
df=pd.read_excel('Alapadatok RoEM Phase 2.xlsx',sheet_name='Lakossag_map',skiprows=5)
df1=df.set_index(list(df.columns[:2])).stack().reset_index()
df1.columns=['megye_en','megye_ro','ev','lakossag']

In [69]:
df=pd.read_excel('Alapadatok RoEM Phase 2.xlsx',sheet_name='Atlagber_map',skiprows=5)
df2=df.set_index(list(df.columns[:2])).stack().reset_index()
df2.columns=['megye_en','megye_ro','ev','atlagber']

In [70]:
df=pd.read_excel('Alapadatok RoEM Phase 2.xlsx',sheet_name='GDP per fo_map',skiprows=5)
df3=df.set_index(list(df.columns[:2])).stack().reset_index()
df3.columns=['megye_en','megye_ro','ev','gdp']

In [71]:
df=pd.read_excel('Alapadatok RoEM Phase 2.xlsx',sheet_name='Munkanelkuliseg_map',skiprows=5)
df4=df.set_index(list(df.columns[:2])).iloc[1:].stack().reset_index()

In [72]:
df4['year']=df4['level_2'].str.split('.').str[0].bfill()

In [73]:
df4['month']=(df4['level_2'].str.split('.').str[1].fillna(0).astype(int)+1).astype(str)

In [74]:
df4.columns=['megye_en','megye_ro','x','munkanelkuliseg','ev','ho']
df4=df4.drop('x',axis=1)

In [95]:
df5=df4.groupby(['megye_en','megye_ro','ev'])[['munkanelkuliseg']].mean().reset_index()
df5['ev']=df5['ev'].astype(int)

In [76]:
df4

     megye_en megye_ro  munkanelkuliseg    ev  ho
0       TOTAL    TOTAL              5.4  2012   1
1       TOTAL    TOTAL              5.4  2012   2
2       TOTAL    TOTAL              5.1  2012   3
3       TOTAL    TOTAL              4.8  2012   4
4       TOTAL    TOTAL              4.6  2012   5
...       ...      ...              ...   ...  ..
6359    Timis    Timiş              0.9  2023  12
6360    Timis    Timiş              0.8  2024   1
6361    Timis    Timiş              0.8  2024   2
6362    Timis    Timiş              0.9  2024   3
6363    Timis    Timiş              0.9  2024   4

[6364 rows x 5 columns]

In [80]:
df2

    megye_en megye_ro    ev  atlagber
0      TOTAL    TOTAL  2012      1507
1      TOTAL    TOTAL  2013      1579
2      TOTAL    TOTAL  2014      1697
3      TOTAL    TOTAL  2015      1859
4      TOTAL    TOTAL  2016      2046
..       ...      ...   ...       ...
468    Timis    Timiş  2018      2922
469    Timis    Timiş  2019      3310
470    Timis    Timiş  2020      3536
471    Timis    Timiş  2021      3845
472    Timis    Timiş  2022      4251

[473 rows x 4 columns]

In [98]:
dk=df1.set_index(['megye_en','megye_ro','ev']).join(\
           df2.set_index(['megye_en','megye_ro','ev'])).join(\
           df3.set_index(['megye_en','megye_ro','ev'])).join(\
           df5.set_index(['megye_en','megye_ro','ev'])).reset_index()

In [100]:
dk.to_csv('map.csv',index=False)

In [106]:
import json
open('map.json','w').write(json.dumps(list(dk.T.to_dict().values())))

77847